# MSc Project

## Importing data

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error

In [4]:
uk_csv_file_path = "Data/UK Total energy consumption.csv"
uk_data = pd.read_csv(uk_csv_file_path)
uk_data.head(10)

,Year,Code,Region,LA,All_fuels_Domestic,All_fuels_Transport,All_fuels_Industrial_Commercial_and_other,All_fuels_Total,Coal_Industrial,Coal_Commercial,...,Gas_Domestic,Gas_Industrial_Commercial_and_other,Gas_Total,Electricity_Domestic,Electricity_Industrial_Commercial_and_other,Electricty_Total,Bioenergy_and_wastes_Domestic,Bioenergy_and_wastes_Road_transport,Bioenergy_and_wastes_Industrial_and_Commercial,Bioenergy_and_wastes_Total
0,2005,K02000001,United Kingdom (inc unallocated),All local authorities,49993.705130,39293.752810,62396.904040,151684.362000,1495.484497,5.367898,...,35317.22100,22085.27900,57402.50000,10268.750000,17273.48100,27542.23100,431.761322,68.095314,967.260681,1467.117317
1,2005,DUKES,UK total from Digest of UK Energy Statistics,All local authorities,47753.480470,43217.519530,59343.468750,150314.468800,1471.599976,4.160000,...,32835.67969,22547.91016,55383.58984,10809.209960,18822.36914,29631.58008,317.799988,74.050003,220.449997,612.299988
2,2005,K03000001,Great Britain (inc unallocated),All local authorities,49080.103020,38028.629840,60565.234280,147673.967100,1370.500977,4.850919,...,35317.22100,22085.27900,57402.50000,10268.750000,17273.48100,27542.23100,406.983887,65.912811,922.496948,1395.393646
3,2005,K04000001,England and Wales,All local authorities,44535.384550,34764.361210,53147.873730,132447.619500,1253.713600,4.212600,...,32267.35800,19856.37500,52123.73300,9193.769997,15356.32700,24550.09700,378.057529,60.305458,820.273834,1258.636822
4,2005,E92000001,England,All local authorities,41920.920920,32833.845680,48352.994070,123107.760700,1147.934326,3.820124,...,30557.23100,18616.29600,49173.52700,8707.480997,14332.10500,23039.58600,341.608032,56.965355,734.831482,1133.404869
5,2005,E12000001,North East,All local authorities,2340.493164,1445.333144,4004.008947,7789.835254,195.079697,0.105163,...,1780.80600,1199.67600,2980.48200,391.082000,803.85300,1194.93500,25.496124,2.550239,91.335693,119.382057
6,2005,E12000002,North West,All local authorities,6021.258043,4354.244320,7232.052088,17607.554450,100.517860,0.316802,...,4590.81400,3089.12200,7679.93600,1133.050000,1987.52000,3120.57000,58.793983,7.569469,96.720833,163.084286
7,2005,E12000003,Yorkshire and The Humber,All local authorities,4451.170607,3343.925394,7304.586561,15099.682560,51.963524,0.367115,...,3355.49100,2635.35100,5990.84200,842.958000,1464.50300,2307.46100,25.950985,5.679790,31.210754,62.841529
8,2005,E12000004,East Midlands,All local authorities,3708.871141,3238.508118,4144.997185,11092.376440,224.699158,0.327310,...,2705.86400,1628.24600,4334.11000,743.249000,1315.07900,2058.32800,43.435696,5.466304,105.699478,154.601478
9,2005,E12000005,West Midlands,All local authorities,4360.298883,3837.297118,4476.744888,12674.340890,185.203308,0.296345,...,3243.88600,1974.45600,5218.34200,886.949000,1456.47500,2343.42400,22.251884,6.582330,61.561562,90.395776

In [5]:
scot_csv_file_path = "Data/Scotland Final Data .csv"
scot_data = pd.read_csv(scot_csv_file_path)

print("length of Scotland Data " + str(len(scot_data)))

scot_data.head(10)

length of Scotland Data 19008

,FeatureCode,FeatureName,FeatureType,DateCode,Measurement,Units,Value,Energy Type,Energy Consuming Sector
0,S12000039,West Dunbartonshire,Council Area,2005,Count,GWh,0.000,Coal,Rail
1,S12000039,West Dunbartonshire,Council Area,2005,Count,GWh,192.383,Electricity,Domestic
2,S12000039,West Dunbartonshire,Council Area,2005,Count,GWh,0.176,Coal,Public Sector
3,S12000039,West Dunbartonshire,Council Area,2005,Count,GWh,664.980,Gas,Domestic
4,S12000039,West Dunbartonshire,Council Area,2005,Count,GWh,250.801,Electricity,Industrial & Commercial
5,S12000039,West Dunbartonshire,Council Area,2005,Count,GWh,868.701,All,Domestic
6,S12000039,West Dunbartonshire,Council Area,2005,Count,GWh,1.127,Bioenergy & Wastes,Domestic
7,S12000039,West Dunbartonshire,Council Area,2005,Count,GWh,639.841,All,Industrial & Commercial
8,S12000039,West Dunbartonshire,Council Area,2005,Count,GWh,0.182,Coal,Domestic
9,S12000039,West Dunbartonshire,Council Area,2005,Count,GWh,0.005,Coal,Agriculture

## EDA

In [6]:
# checking number of different councils in Scotland
councils = scot_data['FeatureName'].value_counts()
print(councils)

West Dunbartonshire      576
Shetland Islands         576
Glasgow City             576
Perth and Kinross        576
Fife                     576
East Dunbartonshire      576
Dundee City              576
Angus                    576
Renfrewshire             576
City of Edinburgh        576
Argyll and Bute          576
Aberdeenshire            576
Aberdeen City            576
Stirling                 576
South Lanarkshire        576
South Ayrshire           576
Scottish Borders         576
West Lothian             576
Orkney Islands           576
North Ayrshire           576
Moray                    576
Midlothian               576
Inverclyde               576
Highland                 576
Falkirk                  576
Na h-Eileanan Siar       576
East Renfrewshire        576
East Lothian             576
East Ayrshire            576
Dumfries and Galloway    576
Clackmannanshire         576
Scotland                 576
North Lanarkshire        576
Name: FeatureName, dtype: int64

In [7]:
# as it contains the data of scotland (as whole country), we don't need that, so we will remove it.
# i'm making a copy and then start filtering

In [8]:
scot_data_cl = scot_data[~(scot_data["FeatureName"]=="Scotland")]

In [9]:
print("length of Scotland Data " + str(len(scot_data_cl)))

length of Scotland Data 18432

In [10]:
# now we removed all scotland country instances from the dataset 

# now we see how many councils are there in scotland 

councils = scot_data_cl['FeatureName'].value_counts()
print(councils)
print("Total number of councils in Scotland : ", scot_data_cl['FeatureName'].nunique())

West Dunbartonshire      576
West Lothian             576
Glasgow City             576
Perth and Kinross        576
Fife                     576
East Dunbartonshire      576
Dundee City              576
Angus                    576
Renfrewshire             576
City of Edinburgh        576
Argyll and Bute          576
Aberdeenshire            576
Aberdeen City            576
Stirling                 576
South Lanarkshire        576
South Ayrshire           576
Shetland Islands         576
Scottish Borders         576
Orkney Islands           576
North Ayrshire           576
Moray                    576
Midlothian               576
Inverclyde               576
Highland                 576
Falkirk                  576
Na h-Eileanan Siar       576
East Renfrewshire        576
East Lothian             576
East Ayrshire            576
Dumfries and Galloway    576
Clackmannanshire         576
North Lanarkshire        576
Name: FeatureName, dtype: int64
Total number of councils in Scotland :  32

In [11]:
print(scot_data_cl.dtypes)

FeatureCode                 object
FeatureName                 object
FeatureType                 object
DateCode                     int64
Measurement                 object
Units                       object
Value                      float64
Energy Type                 object
Energy Consuming Sector     object
dtype: object

In [12]:
x = scot_data_cl[(scot_data_cl['FeatureCode']=='S12000033')&(scot_data_cl['DateCode']==2005)&(scot_data_cl['Energy Consuming Sector']=='Domestic')]
print(x)

      FeatureCode    FeatureName   FeatureType  DateCode Measurement Units  \
12147   S12000033  Aberdeen City  Council Area      2005       Count   GWh
12153   S12000033  Aberdeen City  Council Area      2005       Count   GWh
12155   S12000033  Aberdeen City  Council Area      2005       Count   GWh
12156   S12000033  Aberdeen City  Council Area      2005       Count   GWh
12158   S12000033  Aberdeen City  Council Area      2005       Count   GWh
12159   S12000033  Aberdeen City  Council Area      2005       Count   GWh
12283   S12000033  Aberdeen City  Council Area      2005       Count   GWh

          Value         Energy Type Energy Consuming Sector
12147     1.644                Coal                Domestic
12153    10.317  Bioenergy & Wastes                Domestic
12155     5.473  Manufactured Fuels                Domestic
12156    26.174  Petroleum Products                Domestic
12158   516.919         Electricity                Domestic
12159  1682.733                 Gas                Domestic
12283  2243.259                 All                Domestic

In [13]:
len(scot_data_cl)

18432

In [14]:

scot_data_cl = scot_data_cl[scot_data_cl['Energy Consuming Sector'] != 'All']

In [15]:
scot_data_cl = scot_data_cl[scot_data_cl['Energy Type'] != 'All']

In [16]:
len(scot_data_cl)

13312

In [17]:
# unique_values = df['column_name'].unique()

uq_engery_type = scot_data_cl['Energy Type'].unique()
print(uq_engery_type)
uq_engery_consume = scot_data_cl['Energy Consuming Sector'].unique()
print(uq_engery_consume)

['Coal' 'Electricity' 'Gas' 'Bioenergy & Wastes' 'Petroleum Products'
 'Manufactured Fuels']
['Rail' 'Domestic' 'Public Sector' 'Industrial & Commercial' 'Agriculture'
 'Road Transport' 'Commercial' 'Industrial']

In [18]:
# exporting data file
scot_data_cl.to_csv('Data/Scotland Cleaned Data.csv', index=False)

In [19]:
x = scot_data_cl[(scot_data_cl['FeatureCode']=='S12000033')&(scot_data_cl['DateCode']==2005)]
print(len(x))

26

In [20]:
### Working on cleaned Data

In [21]:
scot_data = pd.read_csv("Data/Scotland Cleaned Data.csv")

In [22]:
scot_data.head(10)

,FeatureCode,FeatureName,FeatureType,DateCode,Measurement,Units,Value,Energy Type,Energy Consuming Sector
0,S12000039,West Dunbartonshire,Council Area,2005,Count,GWh,0.000,Coal,Rail
1,S12000039,West Dunbartonshire,Council Area,2005,Count,GWh,192.383,Electricity,Domestic
2,S12000039,West Dunbartonshire,Council Area,2005,Count,GWh,0.176,Coal,Public Sector
3,S12000039,West Dunbartonshire,Council Area,2005,Count,GWh,664.980,Gas,Domestic
4,S12000039,West Dunbartonshire,Council Area,2005,Count,GWh,250.801,Electricity,Industrial & Commercial
5,S12000039,West Dunbartonshire,Council Area,2005,Count,GWh,1.127,Bioenergy & Wastes,Domestic
6,S12000039,West Dunbartonshire,Council Area,2005,Count,GWh,0.182,Coal,Domestic
7,S12000039,West Dunbartonshire,Council Area,2005,Count,GWh,0.005,Coal,Agriculture
8,S12000039,West Dunbartonshire,Council Area,2005,Count,GWh,528.530,Petroleum Products,Road Transport
9,S12000039,West Dunbartonshire,Council Area,2006,Count,GWh,1.268,Bioenergy & Wastes,Domestic

In [23]:
# first see how many different features are there and in each rows how many different values there are.

In [24]:
no_col = scot_data.shape[1]
print("Number of feature in this Data Set: " + str(no_col))

Number of feature in this Data Set: 9

In [25]:
# now explore how many different values in each features.

In [26]:
# feature code

dist_Feature_code = scot_data['FeatureCode'].unique()

print("Distinct Feature Code: ", dist_Feature_code)

Distinct Feature Code:  ['S12000039' 'S12000040' 'S12000005' 'S12000006' 'S12000008' 'S12000010'
 'S12000011' 'S12000013' 'S12000014' 'S12000017' 'S12000018' 'S12000019'
 'S12000020' 'S12000021' 'S12000023' 'S12000026' 'S12000027' 'S12000028'
 'S12000029' 'S12000030' 'S12000033' 'S12000034' 'S12000035' 'S12000036'
 'S12000038' 'S12000041' 'S12000042' 'S12000045' 'S12000047' 'S12000048'
 'S12000049' 'S12000050']

there are 32 distinct feature code

In [27]:
# feature Name

dist_Feature_name = scot_data['FeatureName'].unique()

print("Distinct Feature Name: ", dist_Feature_name)

Distinct Feature Name:  ['West Dunbartonshire' 'West Lothian' 'Clackmannanshire'
 'Dumfries and Galloway' 'East Ayrshire' 'East Lothian'
 'East Renfrewshire' 'Na h-Eileanan Siar' 'Falkirk' 'Highland'
 'Inverclyde' 'Midlothian' 'Moray' 'North Ayrshire' 'Orkney Islands'
 'Scottish Borders' 'Shetland Islands' 'South Ayrshire'
 'South Lanarkshire' 'Stirling' 'Aberdeen City' 'Aberdeenshire'
 'Argyll and Bute' 'City of Edinburgh' 'Renfrewshire' 'Angus'
 'Dundee City' 'East Dunbartonshire' 'Fife' 'Perth and Kinross'
 'Glasgow City' 'North Lanarkshire']

there are 32 different councils in Scotland

In [28]:
# feature Type

dist_Feature_type = scot_data['FeatureType'].unique()

print("Distinct Feature Type: ", dist_Feature_type)

Distinct Feature Type:  ['Council Area']

in this column only one type of values is there

In [29]:
# feature DateCode

dist_date_code = scot_data['DateCode'].unique()

print("Distinct Date Code: ", dist_date_code)

Distinct Date Code:  [2005 2006 2007 2008 2017 2018 2019 2015 2016 2013 2012 2014 2011 2010
 2009 2020]

in this column there are 16 different values which varies from 2005 to 2020

In [30]:
# feature Measurement

dist_Measurement = scot_data['Measurement'].unique()

print("Distinct Measurement: ", dist_Measurement)

Distinct Measurement:  ['Count']

this column contains only one distinct value.

In [31]:
# feature Units

dist_Units = scot_data['Units'].unique()

print("Distinct Units: ", dist_Feature_type)

Distinct Units:  ['Council Area']

this column contains only one distinct value.

In [32]:
# feature Energy Type

dist_Energy_Type = scot_data['Energy Type'].unique()

print("Distinct Energy Type: ", dist_Energy_Type)

Distinct Energy Type:  ['Coal' 'Electricity' 'Gas' 'Bioenergy & Wastes' 'Petroleum Products'
 'Manufactured Fuels']

The output indicates the distinct types of energy used in a given context. The different energy types listed are:

Coal

Electricity

Gas

Bioenergy & Wastes

Petroleum Products

Manufactured Fuels

In [33]:
# feature Energy Consuming Sector

dist_Energy_Consuming = scot_data['Energy Consuming Sector'].unique()

print("Distinct Energy Consuming Sector: ", dist_Energy_Consuming)

Distinct Energy Consuming Sector:  ['Rail' 'Domestic' 'Public Sector' 'Industrial & Commercial' 'Agriculture'
 'Road Transport' 'Commercial' 'Industrial']

The output lists the distinct sectors or industries that consume energy in a given context. The different sectors listed are:

Rail

Domestic

Public Sector

Industrial & Commercial

Agriculture

Road Transport

Commercial

Industrial

In [34]:
# feature Value

dist_Value = scot_data['Value'].unique()

print("Distinct Value: ", dist_Value)

Distinct Value:  [0.000000e+00 1.923830e+02 1.760000e-01 ... 3.268700e+01 1.976400e+01
 2.781782e+03]

all the values is in GWh so i will remove uneccessary columns from the dataframe

In [36]:
# removing three columns FeatureType,Measurement and Units

scot_data = scot_data.drop(["FeatureType","Measurement","Energy Type","Units"], axis = 1)
scot_data = scot_data.sort_values(by=['DateCode'], ascending=True)

In [37]:
print(scot_data.dtypes)
scot_data.head(10)

FeatureCode                 object
FeatureName                 object
DateCode                     int64
Value                      float64
Energy Consuming Sector     object
dtype: object

,FeatureCode,FeatureName,DateCode,Value,Energy Consuming Sector
0,S12000039,West Dunbartonshire,2005,0.000,Rail
1501,S12000006,Dumfries and Galloway,2005,578.151,Industrial & Commercial
1500,S12000006,Dumfries and Galloway,2005,403.875,Domestic
6691,S12000027,Shetland Islands,2005,88.748,Industrial
6693,S12000027,Shetland Islands,2005,7.092,Commercial
6791,S12000027,Shetland Islands,2005,107.461,Domestic
6792,S12000027,Shetland Islands,2005,102.042,Industrial & Commercial
6793,S12000027,Shetland Islands,2005,0.000,Rail
1502,S12000006,Dumfries and Galloway,2005,0.000,Rail
6794,S12000027,Shetland Islands,2005,2.971,Domestic

In [38]:
# Performed EDA

In [39]:
# exporting data file
scot_data.to_csv('Data/Scotland Final Model Data.csv', index=False)

In [40]:
# separate the features and target variable
X = scot_data[['FeatureCode', 'DateCode', 'Energy Consuming Sector']]
y = scot_data['Value']

In [41]:
# convert categorical features to numerical
X = pd.get_dummies(X)

In [42]:
# split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [43]:
# Linear Regression

# create and train the model
model = LinearRegression()
model.fit(X_train, y_train)
# evaluate the model on the test set
score = model.score(X_test, y_test)
print(score)

0.12377836778457196

In [44]:
# Decision Tree
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Assuming you already have X and y defined
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Create a Decision Tree Regressor instance and fit the model to the training data
dt_regressor = DecisionTreeRegressor(random_state=42)
dt_regressor.fit(X_train, y_train)

# Make predictions on the test set
y_pred = dt_regressor.predict(X_test)

# Calculate the evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Print the evaluation metrics
print(f"Mean Absolute Error: {mae:.2f}")
print(f"Mean Squared Error: {mse:.2f}")
print(f"Root Mean Squared Error: {rmse:.2f}")
print(f"R-squared Score: {r2:.2f}")

Mean Absolute Error: 270.21
Mean Squared Error: 627532.49
Root Mean Squared Error: 792.17
R-squared Score: -0.28

In [45]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Assuming you already have X and y defined
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Create a Random Forest Regressor instance and fit the model to the training data
rf_regressor = RandomForestRegressor(n_estimators=100, random_state=42)
rf_regressor.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf_regressor.predict(X_test)

# Calculate the evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Print the evaluation metrics
print(f"Mean Absolute Error: {mae:.2f}")
print(f"Mean Squared Error: {mse:.2f}")
print(f"Root Mean Squared Error: {rmse:.2f}")
print(f"R-squared Score: {r2:.2f}")

Mean Absolute Error: 257.58
Mean Squared Error: 593379.73
Root Mean Squared Error: 770.31
R-squared Score: -0.21

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Assuming you already have X and y defined
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create the ANN model
model = Sequential()
model.add(Dense(64, input_dim=X_train_scaled.shape[1], activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1))

# Compile the model
model.compile(optimizer='adam', loss='mse')

# Fit the model to the training data
model.fit(X_train_scaled, y_train, epochs=100, batch_size=32, verbose=0)

# Make predictions on the test set
y_pred = model.predict(X_test_scaled).flatten()

# Calculate the evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Print the evaluation metrics
print(f"Mean Absolute Error: {mae:.2f}")
print(f"Mean Squared Error: {mse:.2f}")
print(f"Root Mean Squared Error: {rmse:.2f}")
print(f"R-squared Score: {r2:.2f}")

In [ ]:
# Deploying